<div class="row new-goal-container">
	<input type="text" class="bottom-bordered"
    placeholder="Name your goal" id="new-goal-name" tabindex=1>
  <div class="error-container"></div>
	<div id="new_goal_detail" class="hidden centered"></div>
	<div class="row spaced centered top" id="new-goal-input">
		<a href="#" class="button" id="goal-detail-button" value="">Add details</a>
		<br>
	</div>
</div>
<% window.scrollTo(0,0) %>