<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="title">
      <h1><a href="#"><span id="title-highlight">success</span> track.io</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <% if (ST.Store.indexGoals.length > 0){ %>
        <li><a href="/goals#">All Goals</a></li>
        <li class="divider"></li>
      <% }%>
      <% if (ST.Store.indexGoals.filterStatus(false).length > 0){ %>
        <li><a href="/goals#active">Active</a></li>
        <li class="divider"></li>
      <% }%>
      <% if (ST.Store.indexGoals.filterStatus(true).length > 0){ %>
        <li><a href="/goals#completed">Completed</a></li>
        <li class="divider"></li>
      <% }%>
      <% if (ST.Store.indexGoals.filterStatus("archived").length > 0){ %>
        <li><a href="/goals#archived">Archived</a></li>
        <li class="divider"></li>
      <% }%>
      <li id="search_bar_anchor"></li>
    </ul>
    <ul class="right">
      <% if (ST.Store.indexGoals.length > 0){ %>
        <li>
          <input type="text" id="search_bar" placeholder="Search tags, titles, description">
        </li>
      <% }%>
      <li><a class="disclaimer">Optimized for Mac OS X Chrome</a></li>
      <li class="divider hide-for-small"></li>
      <li>
				<% if ($.cookie('guest_user_id')) { %>
					<a href="/users/sign_up" data-method="get" rel="nofollow">Sign up</a>
				<% } else { %>
					<a href="/users/sign_out" data-method="delete" rel="nofollow">Sign out</a>
				<% } %>
					
      </li>
    </ul>
  </section>
</nav>
<div class="navbar-row">
</div>