<style>
	body {
		background-color: black;
		background-image: none;}
</style>
<div class="splash-intro">
	<span>Success-track.io</span>
</div>
<div id="splash-image">
	<a href='/goals/index'>
		<img src="https://www.filepicker.io/api/file/jeuHN4VS3C3c5jkZfmMw">
	</a>
</div>
<div class="splash-text">
	<br>
	<a href="/goals" class="button">Use as guest</a>
	<a href="/users/sign_in" class="button">Sign up/log in</a>
</div>