.row .row {
	margin: 10px;
}

.goal-detail-label, .goal-detail-field-center, .goal-detail-field-left {

  position: relative;
  color: white;
  font-size: 1.5em;
}

.goal-detail-field-center, .goal-detail-field-left {
  border-bottom: 1px dotted white;
}

.goal-detail-field-center {
  text-align: center;

}

.goal-detail-label {
  text-align: center;
  border-bottom: 1px solid #2ba6cb;
}

.centered {
	text-align: center;
}

input[type="text"]#new-goal-name {
	height: 2.125em;
	font-size: 3em;
  font-family: "HelveticaNeue-UltraLight";
	margin-bottom: 0px;
	text-align: center;
}

h1 input[type="text"] {
	height: 1.4em;
	font-size: 1em;
  font-family: "HelveticaNeue-UltraLight";
	margin: 0px;
  padding: 0px;
	text-align: center;
}

input[type="text"].detail-input, input[type="date"].detail-input {
  color: white;
  background-color: #333333;
  font-size: 1em;
  height: 1.37em;
  border: none;
  margin-bottom: 0px;
  padding: 0px;
}

input[type="text"].detail-input:focus, input[type="date"].detail-input:focus {
  box-shadow: none;
  color: white;
  background-color: #222222;
}

#new_goal_detail input[type="text"], textarea{
	height: 3.1em;
	font-size: 1em;
	margin-bottom: 20px;
}

input[type="text"]:focus, input[type="date"]:focus, textarea:focus{
	box-shadow: 0px 0px	20px 4px #adfefa inset;
	background-color: white;
};

textarea {
	height: 100px;
  resize: none;
}

input[type="date"] {
  height: 3.3125em;
}

.top-bar {
	margin-bottom: 0px;
}

.top {
	margin-top: -25px;
}

#goal-detail-button {
	margin-top: -10px;
}

.top-bar-section ul li .alert, .notice a{
	color: yellow;
	background-color: black;

}

.radio-label, .edit-radio-label{
	font-weight: normal;
  text-align: center;
	display: inline-block;
	margin-bottom: 12px;
	background-color: #999999;
	color: white;
	vertical-align: middle;
	margin-left: 2px;
	font-size: 16px;
}

.radio-label {
  width: 123px;
	height: 3.2em;
	line-height: 3em;
}

.edit-radio-label {
  width: 153px;
  height: 2em;
  margin-bottom: 20px;
  margin-top: -5px;
  line-height: 1.8em;
}

div.switch {
  margin-bottom: 0px;
}

input[type="radio"] {
	display:none;
}

input[type="radio"]:checked + label.radio-label {
	background-color: #333;
	color: white;
};

input[type="radio"]:checked + label.edit-radio-label {
	background-color: #333;
	color: white;
};

div.description-row {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

h2,h3,h4,h5 {
  font-family: "HelveticaNeue-UltraLight";
}

h1 {
  font-family: "HelveticaNeue-UltraLight";
}

.switch {
  alignment: center;
}

body {
	background-image:url(image_path('navy_blue.png'));
  font-family: "HelveticaNeue-Light";
  font-weight: lighter;
}

.new-detail-field{
  top: 4px;
}

div.label {
  background: none;
}

div#current-goals {
  width:100%;
}

.goal-name, .goal-detail-add {
	background-color: white;
	background-image:url(image_path('white_wall_hash.png'));
  border-bottom: 7px ridge #2ba6cb;
}

.goal-detail-add {
  padding: 20px 20px 0px 20px;
  margin-top: 10px;
}

.goal-detail-edit {
  padding: 10px 20px 0px 20px;
  margin-top: 0px;
  color: white;
}

.goal-detail-edit .radio-label {
  text-align: center;
	font-weight: normal;
	width: 126px;
	height: 3.2em;
	display: inline-block;
	margin-bottom: 12px;
	background-color: #999999;
	color: white;
	vertical-align: middle;
	margin-left: 2px;
	font-size: 16px;
	line-height: 3em;
}

h3.new-detail-field {
  font-family: "HelveticaNeue-Light";
}

h3.edit-detail-field {
  color: white;
}

.goal-name h1 {
  position: relative;
  top: 5px;
}

.goal-detail-top, .goal-detail-bottom{
  background-image:url(image_path('grey_wash_wall.png'));
  //background-color: #2ba6cb;
}

.goal-detail-bottom{
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.goal-detail-top{
  padding-top: 10px;
}

#new-goal-name{
}

input.bottom-bordered {
  border-bottom: 7px ridge #2ba6cb;
}

div.navbar-row{
  border-bottom: 3px ridge #2ba6cb;
  position: fixed;
  top: 43px;
  left: 0;
  width: 100%;
  z-index: 5;
}

.top-bar-section ul li a {
  font-weight: normal;
  color: #eee;
  font-family: 'HelveticaNeue-Light';
}

.top-bar-section ul li:hover a {
  color: white;
  background-color: white;
}

.top-bar-section ul li.active a, .top-bar-section ul li.hover a {
  background-image:url(image_path('grey_wash_wall.png'));
}

.detail-minor {
}

div.completed-false {
}

div.completed-true {
}

div#archive-button, div#delete-button {
  position:absolute;
  right: 15px;
  bottom: -25px;
  padding: 5px;
  width: 80px;
  background-color: #2ba6cb;
  text-align: center;
  cursor: pointer;
  color: white;
}

div#delete-button {
  position:absolute;
  right: 120px;
  background-color: #2ba6cb;
}

div#delete-button:hover {
 box-shadow: 0px 0px 5px 1px #7c0003;
}

div#archive-button:hover {
 box-shadow: 0px 0px 5px 1px #4f4300;
}


div.name-container {
  position: relative;
}

nav.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

div.new-goal-container {
  margin-top: 40px;
}

button#save-button {
  width: 100%;
  top: -30px;
}

.goal-description-clickable:hover, .goal-finish-date-clickable:hover, .goal-time-frame-clickable:hover{
  cursor: pointer;
}