.row .row {
	margin: 10px;
}

#title-highlight {
  font-family: "HelveticaNeue-UltraLight";
  color: white;
}

.title {
  font-size: 0.6em;
  padding-left: 20px;
  padding-right: 20px;
}

.goal-detail-label, .goal-detail-field-center, .goal-detail-field-left {

  position: relative;
  color: white;
  font-size: 1.5em;
}

.goal-detail-field-center, .goal-detail-field-left {
  border-bottom: 1px dotted white;
}

.goal-detail-field-center {
  text-align: center;

}

.goal-detail-label {
  text-align: center;
  border-bottom: 1px solid #2ba6cb;
}

.centered {
	text-align: center;
}

input[type="text"]#new-goal-name {
	height: 2.125em;
	font-size: 3em;
  font-family: "HelveticaNeue-UltraLight";
	margin-bottom: 0px;
	text-align: center;
}

h1 input[type="text"] {
	height: 1.4em;
	font-size: 1em;
  font-family: "HelveticaNeue-UltraLight";
	margin: 0px;
  padding: 0px;
	text-align: center;
}

input[type="text"].detail-input, input[type="date"].detail-input {
  color: white;
  background-color: #333333;
  font-size: 1em;
  height: 1.37em;
  border: none;
  margin-bottom: 0px;
  padding: 0px;
}

input[type="text"].detail-input:focus, input[type="date"].detail-input:focus {
  box-shadow: none;
  color: white;
  background-color: #222222;
}

#new_goal_detail input[type="text"]{
	height: 3.1em;
	font-size: 1em;
	margin-bottom: 20px;
}

input[type="text"]:focus, input[type="date"]:focus, textarea:focus{
	box-shadow: 0px 0px	20px 4px #adfefa inset;
	background-color: white;
};

textarea {
  font-size: 1em;
  height: 70px;
  resize: none;
}

input[type="date"] {
  height: 3.3125em;
}

.top-bar {
	margin-bottom: 0px;
}

.top {
	margin-top: -25px;
}

#goal-detail-button {
	margin-top: -10px;
}

.top-bar-section ul li .alert, .notice a{
	color: black;
	background-color: black;

}

.radio-label, .edit-radio-label{
	font-weight: normal;
  text-align: center;
	display: inline-block;
	margin-bottom: 12px;
	background-color: #999999;
	color: white;
	vertical-align: middle;
	margin-left: 2px;
	font-size: 16px;
}

.radio-label {
  width: 123px;
	height: 3.2em;
	line-height: 3em;
}

.edit-radio-label {
  width: 153px;
  height: 2em;
  margin-bottom: 20px;
  margin-top: -5px;
  line-height: 1.8em;
}

div.switch {
  margin-bottom: 0px;
}

input[type="radio"] {
	display:none;
}

input[type="radio"]:checked + label.radio-label {
	background-color: #333;
	color: white;
};

input[type="radio"]:checked + label.edit-radio-label {
	background-color: #333;
	color: white;
};

div.description-row {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

h2,h3,h4,h5 {
  font-family: "HelveticaNeue-UltraLight";
}

h1 {
  font-family: "HelveticaNeue-UltraLight";
}

.switch {
  alignment: center;
}

body {
	background-image:url(image_path('navy_blue.png'));
  font-family: "HelveticaNeue-Light";
  font-weight: lighter;
}

.new-detail-field{
  position: relative;
  top: 3px;
  text-align: right;
}

div.label {
  background: none;
}

div#current-goals {
  width:100%;
}

.goal-name, .goal-detail-add {
	background-color: white;
	background-image:url(image_path('white_wall_hash.png'));
  border-bottom: 7px ridge #2ba6cb;
}

.goal-detail-add {
  padding: 20px 20px 0px 20px;
  margin-top: 10px;
}

.goal-detail-edit {
  padding: 10px 20px 0px 20px;
  margin-top: 0px;
  color: white;
}

.goal-detail-edit .radio-label {
  text-align: center;
	font-weight: normal;
	width: 126px;
	height: 3.2em;
	display: inline-block;
	margin-bottom: 12px;
	background-color: #999999;
	color: white;
	vertical-align: middle;
	margin-left: 2px;
	font-size: 16px;
	line-height: 3em;
}

h3.new-detail-field {
  font-family: "HelveticaNeue-Light";
}

h3.edit-detail-field {
  color: white;
}

.goal-name h1 {
  position: relative;
  top: 5px;
}

.goal-detail-top, .goal-detail-section, .goal-detail-bottom{
  background-image:url(image_path('grey_wash_wall.png'));
  //background-color: #2ba6cb;
}

.goal-detail-bottom{
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.goal-detail-top{
  padding-top: 10px;
}

#new-goal-name{
}

input.bottom-bordered {
  border-bottom: 7px ridge #2ba6cb;
}

div.navbar-row{
  border-bottom: 3px ridge #2ba6cb;
  position: fixed;
  top: 43px;
  left: 0;
  width: 100%;
  z-index: 5;
}

.top-bar-section ul li a {
  font-weight: normal;
  color: #eee;
  font-family: 'HelveticaNeue-Light';
}

.top-bar-section ul li:hover a {
  color: white;
  background-color: white;
}

.top-bar-section ul li.active a, .top-bar-section ul li.hover a {
  background-image:url(image_path('grey_wash_wall.png'));
}

.detail-minor {
}

div.completed-false {
}

div.completed-true {
}

.goal-footer {
  position: relative;
}

div#archive-button, div#delete-button {
  position:absolute;
  right: 15px;
  bottom: -25px;
  padding: 5px;
  width: 90px;
  background-color: #2ba6cb;
  text-align: center;
  cursor: pointer;
  color: white;
}

div#delete-button {
  position:absolute;
  right: 125px;
  background-color: #2ba6cb;
}

div#delete-button:hover {
 box-shadow: 0px 0px 5px 1px #7c0003;
}

div#archive-button:hover {
 box-shadow: 0px 0px 5px 1px #4f4300;
}


div.name-container {
  position: relative;
}

nav.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

div.new-goal-container {
  margin-top: 40px;
}

button#save-button {
  width: 100%;
  top: -30px;
}

.finished {
  padding: 10px;
  text-align: center;
  font-family: "HelveticaNeue-Light";
}

.finished:hover {
 cursor: pointer;
}

.completed-button {
  color: #247800;
  background-color: #aaa;
}

.incomplete-button {
  color: #8b0700;
  background-color: #aaa;
}

div.error-container {
  display: none;
  text-align: center;
  padding: 10px;
}

.errors {
  color: red;
}

div.potential-tags {
  text-align: right;
  top: -5px;
  right: 10px;
}

div.potential-tags p {
  margin: 0px;
  color: #aaa;
}

div.current-tags {
  top: -5px;
}

div.added-tag {
  color: white;
  background-color: #2ba6cb;
  border-radius: 2px;
  padding: 5px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
}

div.goal-tag, div.goal-tag-label{
  color: white;
  background-color: #2ba6cb;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-bottom-left-radius: 6px;
  padding: 5px 10px 5px 10px;
  float: right;
  margin-left: 5px;
  text-align: right;
  position: absolute;
  z-index: 2;
  display: inline-block;
}

div.goal-tag-label{
	background-image:url(image_path('navy_blue.png'));
  color: white;
  top: 40px;
  right: -85px;
  font-family: "HelveticaNeue-UltraLight", "Helvetica";
  padding-left: 0px;
}

div.tag-container {
  height: 30px;
  position: relative;
  text-align: right;
}

span {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

ul.side-nav {
  position: fixed;
  top: 60px;
}

ul.side-nav a li {
  border-bottom-right-radius: 10px;
  background-color: #2ba6cb;
  color: white;
  box-shadow: 0px 0px 20px 2px #2ba6cb;
  z-index: 4;
  padding-right: 5px;
  padding-left: 5px;
}


ul.side-nav li:hover {
  background-color: white;
  color: #2ba6cb;
  box-shadow: 0px 0px 20px 2px white;
}

ul.side-nav li a {

}

div.goal-node-container {
  width: 40px;
}

.focus-node {
  min-width: 200px;
}

.added-tag:hover {
  cursor: pointer;
}

div.goal-tag.edit-tag {
  background-color: red;
}

div.goal-tag.edit-tag:hover{
  cursor: pointer;
}

input.tag-input {
  color: black;
  position: absolute;
  top: -5px;
  left: -70px;
  width: 150px;
  height: 2em;
  text: 1em;
  width: 80px;

  font-family: "HelveticaNeue-Light", "Helvetica";
}

input.tag-input:focus {
  box-shadow: none;
}

.top-bar-section ul li a:hover, .top-bar-section ul li form:hover {
  color: #2ba6cb;
  background-color: #333;
}

.top-bar-section ul {
  background-color: black;
}

.top-bar-section ul li input {
  color: #2ba6cb;
  background-color: #333;
  width: 220px;
  margin-right: 20px;
}

.top-bar-section ul li input:focus {
  box-shadow: none;
}

.top-bar-section ul li a.disclaimer {
  color: #bbb;
}

.devise_form label{
  font-family: 'HelveticaNeue-Light','Helvetica' !important;
  color: white !important;
}

h2.title {
  color: white;
  margin-top: 60px;
  text-align: center;
  font-size: 2em;
}

div a li div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 8;
}

div.row div a {
  margin: 10px;
}

body ul div.shortcut-shelf {
  width: 140px;
  //background-color: red;
}

.exposed-shelf {
  background-color: red;
}

span.gray {
  color: #666 !important;
  margin-left: 10px;
}