<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#"><span style="font-size: 1.1em;">success</span> track.io</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><a href="/#">All Goals</a></li>
      <li class="divider"></li>
    </ul>
    <ul class="left">
      <li><a href="/#active">Active</a></li>
      <li class="divider"></li>
    </ul>
    <ul class="left">
      <li><a href="/#completed">Completed</a></li>
      <li class="divider"></li>
    </ul>
		<% if notice || alert %>
    <ul class="left notice">
			<li><a href=#><%= notice %> <%= alert %> </a></li>
	    <li></div></li>
			<li class="divider"></li>
		</ul>
		<% end %>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li><a href="#">Profile</a>
      <li class="has-form">
				<form action="/users/sign_out" method="DELETE">
        	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				</form>
      </li>
    </ul>
  </section>
</nav>